<div class="task-list">
  <h3>Task List</h3>
  
  <div *ngIf="tasks.length === 0" class="empty">
    No tasks yet
  </div>
  
  <div *ngFor="let task of tasks" class="task-item">
    <div class="task-info">
      <span class="task-id">ID: {{task.myid}}</span>
      <span class="task-title">{{task.title}}</span>
    </div>
    <div class="task-description">{{task.description}}</div>
    <div class="task-tags">
      <span *ngFor="let tag of task.tags" class="tag">{{tag}}</span>
    </div>
  </div>
</div>
